pyaudio~=0.2.11
flexx
python-socketio[client]
opencv-python
azure-cognitiveservices-vision-computervision
azure-cognitiveservices-vision-face
keras==2.3.1
tensorflow-gpu==2.5.1
matplotlib
pillow
efficientnet
google-cloud-speech
cssutils
scikit-learn==0.22.1
