pyaudio~=0.2.11
flexx
python-socketio[client]
opencv-python
azure-cognitiveservices-vision-computervision
azure-cognitiveservices-vision-face
keras==3.9.0
tensorflow-gpu==2.12.0
matplotlib
pillow
efficientnet
google-cloud-speech
cssutils
scikit-learn>=0.24.1
